global
    log     127.0.0.1   local0
    chroot  /var/lib/haproxy
    user    haproxy
    group   haproxy
    daemon

    stats socket /var/lib/haproxy/stats

defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    #option  dontlog-normal
    timeout connect 5000
    timeout client  50000
    timeout server  50000
    balance roundrobin
    option httpchk HEAD / HTTP/1.1\r\nHost:localhost

listen user
    bind :4000
    server user1 127.0.0.1:4001 check
    server user2 127.0.0.1:4002 check
